body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

/* Header */
nav {
    padding: 0 20px;
}

/* Main */
.content {
    min-height: calc(100vh - 64px - 70px);
    padding: 30px 30px;
}

/* Preloader */
.progress {
    max-width: 500px;
    margin: 150px auto;
}

/* Home page */
.category_list,
.meals_list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
}

.card {
    display: flex;
    flex-direction: column;
}

.card-content {
    flex-grow: 1;
}
